h2 {
  display: flex;
  justify-content: center;
  margin-top: 75px;
  position: relative;
  font-size: 3rem;
}

.slick-slide img {
  height:40rem;
  border-radius: 15px;

}
.library-page {
    height: 250vh;
}
  
//   .carousel-container {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     width: 80%;
//     max-width: 800px;
//     margin-top: 50px;
//   }
  
//   .carousel {
//     display: flex;
//     overflow-x: scroll;
//     scroll-behavior: smooth;
//     -webkit-overflow-scrolling: touch;
//     padding: 10px 0;
//     margin: 0 10px;
//     &::-webkit-scrollbar {
//       height: 10px;
//     }
//     &::-webkit-scrollbar-thumb {
//       background-color: #c4c4c4;
//       border-radius: 20px;
//     }
//     &::-webkit-scrollbar-track {
//       background-color: #f0f0f0;
//       border-radius: 20px;
//     }
//   }
  
//   .carousel-item {
//     flex-shrink: 0;
//     margin-right: 15px;
//     border-radius: 5px;
//     overflow: hidden;
//     width: 200px;
//     height: 300px;
//     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
//     transition: transform 0.2s ease-in-out;
//     cursor: pointer;
//     &:hover {
//       transform: scale(1.05);
//     }
//     img {
//       width: 100%;
//       height: 70%;
//       object-fit: cover;
//       border-bottom: 1px solid #f0f0f0;
//     }
//     h3 {
//       font-size: 16px;
//       margin: 10px 0 0;
//       text-align: center;
//     }
//     p {
//       font-size: 14px;
//       margin: 5px 0 0;
//       text-align: center;
//       color: #777;
//     }
//   }
  
//   .carousel-item-title {
//     font-size: 18px;
//     font-weight: bold;
//     text-align: center;
//     margin-top: 10px;
//   }
  