.mypage-container {
    width: 90%;
    margin-top: 5em;
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;

  }
  
  // .mypage-carousel {
  //   width: 100%;
  //   height: 400px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }
  
  // .mypage-carousel:first-child {
  //   margin-bottom: 50px;
  // }
  
  .mypage-carousel-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  
  .mypage-carousel-item img {
    height: 30em; /* ajuster cette valeur selon la hauteur souhaitée */
    border-radius: 10px;
    // transition: transform 0.5s ease-out;
  }
  // .mypage-carousel-item img:hover {
  //   transform: translate(0, -3px);
  //   box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
  // }
  .mypage-carousel-item img:hover {
 
  }
  
  
  
  
  @media (min-width: 768px) {
    .mypage-carousel {
      height: 500px;
    }
  }
  
  @media (min-width: 1024px) {
    .mypage-carousel {
      height: 600px;
    }
  }
  
  @media (min-width: 1200px) {
    .mypage-carousel {
      height: 700px;
    }
  }
  
  