

.gifAbout-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    vertical-align: middle;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: center;
    align-items: center;
    
}

img {
    width: 70%;
    position:inherit;

}

// .pic-legendeWiwi {
//     position: absolute;
//     align-items: center;
//     bottom: 5px;
//     left: 2px;
//     background-color: rgba(209, 196, 20, 0.26);
//     width: 25%;
//     padding: 6px;   
// }

// .pic-legendeKiki {
//     position: absolute;
//     align-items: center;
//     bottom: 5px;
//     left: 2px;
//     background-color: rgba(230, 215, 215, 0.26);
//     width: 25%;
//     padding: 6px;   
// }

// .pic-legendeMika {
//     position: absolute;
//     align-items: center;
//     bottom: 5px;
//     left: 2px;
//     background-color: rgba(230, 215, 215, 0.26);
//     width: 25%;
//     padding: 6px;   
// }

// .pic-legendeJm {
//     position: absolute;
//     align-items: center;
//     bottom: 5px;
//     left: 2px;
//     background-color: rgba(230, 215, 215, 0.26);
//     width: 25%;
//     padding: 6px;   
// }