
// .image {
//     background-image:url(./dev.png);
//   }


.gifAbout-container {
    // display: flex;
    // justify-content: space-between;
    // position: relative;
    // vertical-align: middle;
    // flex-direction: row;
    // flex-wrap: wrap;
    // margin-left: 15%;
    // margin-right: 15%;
    // justify-content: center;
    // align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ebebeb;
    
}



// .dev {

// }

img {
    width: 100%;
    position:inherit;

}

.pic-legendeWiwi {
    font-style:italic;
    color: #363636;
}

.pic-legendeKiki {
    font-style:italic;
}

.pic-legendeMika {
    font-style:italic;
}

.pic-legendeJm {
    font-style:italic;
}