
.gifAbout-container {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;

}

.dev-title {
    position:absolute;
    top: 1rem;

    }

.dev{
    flex-direction: column;
    }


img {
    width: 100%;

}

.pic-legendeWiwi {
    font-style:italic;
    color: #363636;
}

.pic-legendeKiki {
    font-style:italic;
}

.pic-legendeMika {
    font-style:italic;
}

.pic-legendeJm {
    font-style:italic;
}
.pics{
    display: flex;
    height: 1em;
}