.bookBox{
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	max-width: 100%;
	min-height: 480px;
}

.bookSubBox {
    display: flex;
    
    img {
      margin: 20px;
      max-width: 18em;
      display: flex;
    }

    .descriptionBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 600px;

        
    .description{
        font-size: 20px;

    }

    .author{


    }

    .type{

    }
    }
    .buttonClick{
       
        
        
            
            *,*::before,*::after{box-sizing: border-box;}




        .toRead{
            all:unset;
            cursor:pointer;
            overflow:hidden;
            position: relative;
            background-color: #10a14d;
            border-radius: 9999px;
            padding:15px 40px;
            transition: box-shadow .4s;
            color: white; 
            font-size: 1rem;
            margin-right: 3em;
	    }
	

        button:hover{

            box-shadow:0 0 40px #d4df77;

    }
        
        
        button::before {
        
        content: '';
            position: absolute;
            background:linear-gradient(90deg,transparent,rgba(255, 255, 255, 0.8),transparent);
            top: 0; 
            left: 0; 
            right: 0; 
            bottom: 0;
            transition: transform 1s ease-in-out;
            transform:translateX(-100%)
        
        }
        

        button:hover::before {
        
            transform: translateX(100%)

        
        }
        .Read{
            all:unset;
            cursor:pointer;
            overflow:hidden;
            position: relative;
            background-color: #10a14d;
            border-radius: 9999px;
            padding:15px 40px;
            transition: box-shadow .4s;
            color: white; 
            font-size: 1rem;

	    }
	

        button:hover{

            box-shadow:0 0 40px #d4df77;

    }
        
        
        button::before {
        
        content: '';
            position: absolute;
            background:linear-gradient(90deg,transparent,rgba(255, 255, 255, 0.8),transparent);
            top: 0; 
            left: 0; 
            right: 0; 
            bottom: 0;
            transition: transform 1s ease-in-out;
            transform:translateX(-100%)
        
        }
        

        button:hover::before {
        
            transform: translateX(100%)

        
        }
            }
        }


  h2{
    margin-top: 8em;
  }
  