.app-container {
  font-family: 'Playfair Display', serif;
  display: flex;
  justify-content: center;
//   height: 100vh; /* hauteur égale à la hauteur de l'écran */
  background-image: url(https://media.discordapp.net/attachments/1039458663607312414/1081213552469221446/banniere_resize.png?width=878&height=368);
  height: 300px;

}