// .home-container {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   margin-top: 3rem;

//   .search-container {
//     order: -1;
//   }

//   .home-left {
//     flex: 1;
//     padding: 1rem;
//     width: 50%; /* ajouter cette propriété */
    
//     h1 {
//       font-size: 3rem;
//       line-height: 1.2;
//       margin-bottom: 1rem;
//     }

//     p {
//       font-size: 1.2rem;
//       line-height: 1.5;
//     }
//   }

//   .home-right {
//     flex: 1;
//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     .home-cover {
//       margin-bottom: 2rem;
      
//       img {
//         width: 300px;
//         height: 500px;
//         object-fit: contain;
//         border-radius: 10px;
//       }
//     }
//   }
// }
.home-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3rem;
  flex-wrap: wrap;

  .searchHome{
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    form {
      display: flex;
      justify-content: end;
      background: none;
      margin-top: 3em;

      input {
        width: 80%;
        padding: 10px;
        font-size: 1.2rem;
        border-radius: 10px 10px 0 10px;
        border: none;
      }

     
    }
  }

  .home-left {
    flex-basis: 50%;
    padding: 1rem;
    margin-top: -20em;

    h1 {
      font-size: 3rem;
      line-height: 1.2;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.5;
    }
  }

  .home-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;

    .home-cover {
      margin-bottom: 2rem;
      
      img {
        width: 300px;
        height: 500px;
        object-fit: contain;
        border-radius: 10px;
      }
    }
  }
}
h4{
  font-size: 2em;
  max-height: 80%;
}
.home-reviews {
  margin-bottom: 3em;
}
         


