h1 {
  font-size: 3rem;
  line-height: 1.2; /* ajout de cette propriété */
  margin-bottom: 1rem; /* ajout de cette propriété */
}

.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12rem;

  .home-left {
    flex: 1;
    padding: 1rem;

    h1 {
      font-size: 3rem;
      line-height: 1.2;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.5;
    }
  }

  .home-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    .home-cover {
      margin-bottom: 2rem; /* modification de cette propriété */
      
      img {
        width: 300px;
        height: 500px;
        object-fit:contain;
        border-radius: 10px;
      }
    }
  }
}
