.footer-container {
    display: flex;
    position: fixed;
    left: 0px;
    width: 100%;
    bottom: 0px;
    justify-content: space-around;
    background-color: #282c34;
    color: white;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 20px;
  }
  
  .footer-content a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  
  .footer-content a:hover:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0px;
    background-color: white;
    transform: scaleX(1);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .footer-content a:hover {
    color: #FFC947;
  }
  
  .footer-content a:first-child {
    margin-left: 0;
  }
  
  .footer-content a:last-child {
    margin-right: 0;
  }
  