.footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px; /* hauteur du footer */
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.footer-content a:hover:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: white;
  transform: scaleX(1);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

.footer-content a:hover {
  color: #FFC947;
}

.footer-content a:first-child {
  margin-left: 0;
}

.footer-content a:last-child {
  margin-right: 0;
}