.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.search-input {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
}
.input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff;
}

// .search-btn {
//   background-color: #0b571c;
//   border-radius: 25px;
//   color: white;
//   font-weight: bold;
//   font-size: 16px;
//   padding: 10px 20px;
//   border: none;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
// }

// .search-btn:hover {
//   background-color: #116b2f;
// }

// .search-btn:active {
//   background-color: #136b26;
//   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
// }
$color: #6da881;

@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}

// .wrapper {
//   display: block;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }
.search-btn {
  padding: 0.25em 50px;
  text-align: center;
  text-decoration: none;
  color: $color;
  border: 2px solid $color;
  font-size: 20px;
  display: inline-block;
  border-radius: 10px 0px 10px 10px;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  &:hover {
    background-color: $color;
    color: rgb(233, 241, 234);
    border-bottom: 4px solid darken($color, 10%);
    &:before {
      transform: skewX(-45deg) translateX(13.5em);
     transition: all 0.5s ease-in-out;
    }
  }
}