.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // padding: 30px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-form label {
  font-size: 18px;
  margin-bottom: 10px;
}

.signup-form {
  input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }
}

// .signup-form input:focus {
//   border-color: #21661f;
//   outline: none;
// }

.signup-form input[type="submit"] {
  background-color: #eee;
  color: rgb(17, 16, 16);
  font-size: 18px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.signup-form input[type="submit"]:hover {
  background-color: #0f5c1f;
}
