.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .signup-form label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .signup-form input {
    font-size: 16px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    width: 100%;
    margin-bottom: 20px;
    transition: border-color 0.3s ease-in-out;
  }
  
  .signup-form input:focus {
    border-color: #0077ff;
    outline: none;
  }
  
  .signup-form input[type="submit"] {
    background-color: #0077ff;
    color: white;
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .signup-form input[type="submit"]:hover {
    background-color: #0066cc;
  }
  